<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ithinking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".activity.ProgressBarActivity"></activity>
        <activity android:name=".activity.ChronometerActivity" />
        <activity android:name=".activity.DateAndTimeActivity" />
        <activity android:name=".activity.FeijidazhanActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.KxxxlStartActivity" />
        <activity android:name=".activity.KxxxlLoginActivity" />
        <activity android:name=".activity.QQSpeakActivity" />
        <activity android:name=".activity.WeixinFriendActivity" />
        <activity android:name=".activity.QQMessagesActivity" />
        <activity android:name=".activity.XmlyLoginActivity" />
        <activity android:name=".activity.FrameLayoutActivity" />
        <activity android:name=".activity.WeixinLoginActivity" />
        <activity android:name=".activity.SoftwareUpdateActivity" />
        <activity android:name=".activity.RabbitActivity" />
        <activity android:name=".activity.QQImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>