<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ithinking">
    <!-- 允许打电话和发送短信权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 允许读写SD卡权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 开启摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 允许使用振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".activity.OrientationSensorActivity"></activity>
        <activity android:name=".activity.AccelerometerSensorActivity" />
        <activity android:name=".activity.MagneticFieldSensorActivity" />
        <activity android:name=".activity.LightSensorActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.BinderService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.BoundServiceActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.StartedServiceActivity" />
        <activity android:name=".activity.HandlerMessageActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.ContentProviderActivity" />
        <activity android:name=".activity.Sqlite3AddActivity" />
        <activity android:name=".activity.Sqlite3Activity" />
        <activity android:name=".activity.MemoActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.SharedPreferencesActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.SoundPoolActivity" />
        <activity android:name=".activity.PlayerAudioActivity" />
        <activity
            android:name=".activity.DrawActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.AlarmManagerActivity" />
        <activity android:name=".activity.BroadcastReceiverActivity" /> <!-- 注册广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="zuckerberg" />
                <action android:name="mayun" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.NotificationDetailActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.AlertDialogActivity" />
        <activity android:name=".activity.ActionBarAndTabActivity" />
        <activity
            android:name=".activity.ActionBarActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.RegardActivity" />
        <activity
            android:name=".activity.MyMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activity.MyThemeActivity" />
        <activity
            android:name=".activity.StateListDrawableActivity"
            android:theme="@style/bgTheme" />
        <activity android:name=".activity.ArrayResourceActivity" />
        <activity android:name=".activity.StringResourceActivity" />
        <activity
            android:name=".activity.CreateEventActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activity.MyEventActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity
            android:name=".activity.ExitMapActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activity.IntentFilterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentActivity" />
        <activity android:name=".activity.FragmentExampleActivity" />
        <activity android:name=".activity.SelectIcoHeadActivity" />
        <activity android:name=".activity.SelectIcoActivity" />
        <activity android:name=".activity.TaoBaoAddressDetailActivity" />
        <activity android:name=".activity.TaoBaoAddressActivity" />
        <activity android:name=".activity.XmlyForgetpwdActivity" />
        <activity android:name=".activity.TabViewActivity" />
        <activity android:name=".activity.ScrollViewActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.GridViewActivity" />
        <activity
            android:name=".activity.ImageSwitcherActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.ImageViewActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.SeekBarActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity android:name=".activity.ChronometerActivity" />
        <activity android:name=".activity.DateAndTimeActivity" />
        <activity android:name=".activity.FeijidazhanActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.KxxxlStartActivity" />
        <activity android:name=".activity.KxxxlLoginActivity" />
        <activity android:name=".activity.QQSpeakActivity" />
        <activity android:name=".activity.WeixinFriendActivity" />
        <activity android:name=".activity.QQMessagesActivity" />
        <activity android:name=".activity.XmlyLoginActivity" />
        <activity android:name=".activity.FrameLayoutActivity" />
        <activity android:name=".activity.WeixinLoginActivity" />
        <activity android:name=".activity.SoftwareUpdateActivity" />
        <activity android:name=".activity.RabbitActivity" />
        <activity android:name=".activity.QQImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>